<% if users.count == 0  %>
  <h3><%= "No users" %></h3>
<% else %>
  <table class="table">
    <thead>
      <tr>
        <th>image</th>
        <th>name</th>
        <th colspan="4"></th>
      </tr>
    </thead>

    <tbody>
        <% users.each do |user| %>
        <tr>
          <td><%= attachment_image_tag(user, :profile_image, :fill, 80, 80, fallback: "no-image-mini.jpg") %></td>
          <td><%= user.name%></td>
          <td><%= link_to "Show", user, class: "user_#{user.id}" %></td>
        </tr>
        <% end %>
    </tbody>
  </table>
<% end %>
